* {
  margin: 0;
  padding: 0;
}

.usergallery {
  width: 100%;
}

.gallery {
  width: 100%;
  display: flex;
}

.gallery img {
  width: 95%;
  height: 300px;
}

@media screen and (max-width: 1000px) {
  .gallery {
    display: block;
  }
}

/* @media (max-width: 572px) {
  .gallery {
    display: block;
  }
} */
