.step5_1img {
  width: 100%;
  display: flex;
}
.step5_1img img {
  width: 209px;
  height: 58px;
  margin-top: 29px;
  margin-left: 61px;
}
.Step5_1butt {
  width: 100%;
}

.Step5_1butt button {
  height: 40px;
  margin-top: 32px;
  margin-left: 817px;
  background-color: white;
  border: none;
  width: 89px;
  font-weight: 700;
}

.step5_1bg {
  background-color: white;
  height: 47rem;
}

.step5_1hr {
  color: rgb(99, 99, 99);
  height: 80px;
}

.step5_1p {
  width: 100%;
}
.step5_1p p {
  color: #333333;
  margin-left: 413px;
  margin-top: -33px;
}

.Step5_1p1 {
  width: 100%;
}
.Step5_1p1 p {
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  margin-left: 413px;
  word-spacing: 5px;
}
.step5_1img2 {
  width: 100%;
}

.step5_1img2 img {
  margin-left: 359px;
  height: 62px;
  margin-top: -19px;
}

.step5_1input {
  width: 100%;
}

.step5_1inpuit1 input {
  margin-left: 415px;
  height: 58px;
  width: 405px;
  padding: 12px;
}

.step5_1inpuit2 {
  width: 66%;
  display: flex;
  margin-left: 414px;
  margin-top: 26px;
}

.step5_1cvv {
  width: 0%;
  margin-left: 12px;
  margin-top: 0px;
}

.step5_1inpuit2 input {
  height: 50px;
  padding: 11px;
  width: 198px;
}

.step5_1first {
  width: 100%;
}

.step5_1first input {
  margin-left: 414px;
  margin-top: 22px;
  height: 54px;
  width: 409px;
  padding: 12px;
}

.step5_1month {
  width: 409px;
  background-color: #d3d3d3;
  height: 59px;
  margin-left: 414px;
  margin-top: 16px;
  border-radius: 5px;
}

.step5_1pri {
  padding-top: 5px;
  margin-left: 15px;
  color: black;
  font-weight: 600;
}

.step5_1basic {
  margin-top: -21px;
  margin-left: 16px;
  color: #5c5c5c;
}
