* {
  margin: 0;
  padding: 0;
  background-color: white;
}

.heder {
  width: 100%;
  background-color: white;
  display: flex;
}

.heder img {
  height: 57px;
  width: 207px;
  margin-left: 51px;
  margin-top: 14px;
}
.headersig {
  width: 84px;
  height: 10px;
  margin: 22px;
  border: none;
  background-color: white;
  margin-left: 850px;
  font-weight: bold;
  font-size: 20px;
}

.check {
  width: 100%;
}

.checkimg {
  width: 100%;
}
.checkimg img {
  color: red;
  height: 50px;
  width: 50px;
  margin-left: 50%;
  margin-top: 7%;
  display: inline-block;
}

.checkimg p {
  color: black;
  margin-left: 624px;
  margin-top: 20px;
  font-size: 14px;
}

.checkimg span {
  color: black;
  padding-left: 563px;
  font-size: 27px;
}

.commitments p {
  color: black;
  padding-left: 567px;
  position: relative;
  top: 26px;
}

.commitments img {
  width: 27px;
  height: 27px;
  position: relative;
  right: 14px;
}

.checkright img {
  width: 22px;
  height: 25px;
  position: relative;
}
.commitments {
  width: 100%;
}

.commitments span {
  padding-left: 32px;
}

.Nextbutt button {
  color: white;
  background-color: red;
  height: 71px;
  width: 405px;

  margin-left: 497px;
  margin-top: 64px;
  /* outline: none; */
  border: none;
  border-radius: 10px;
  font-size: 26px;
}

.hederfooter1 {
  width: 100%;
  background-color: #cbcbcb;
  height: 245px;
  position: relative;
}

.quescall {
  margin-top: 35px;
  color: #737373;
  font-size: 15px;
  position: absolute;
  background-color: #cbcbcb;
  margin-left: 100px;
}

.faqpar {
  display: flex;
  color: #737373;
}

.faqpar p {
  padding: 20px;
  margin-left: 89px;
  position: relative;
  background-color: #cbcbcb;
  margin-top: -179px;
}

.faqpar1 {
  display: flex;
  color: #737373;
}

.faqpar1 p {
  padding: 20px;
  margin-left: 89px;
  position: relative;
  background-color: #cbcbcb;
  margin-top: -122px;
}

.p11 {
  position: relative;
  color: #737373;
  margin-top: -102px;
  background-color: #cbcbcb;
  width: 15%;
  margin-left: 268px;
}

.p12 {
  position: relative;
  color: #737373;
  margin-top: -39px;
  background-color: #cbcbcb;
  width: 15%;
  margin-left: 485px;
}

.langu {
  position: absolute;
  margin-left: 108px;
}

.lang option {
  width: 100px;
  height: 200px;
}
#lang{
  appearance: none;
  background: #fff;
  border: 1px solid #a6a6a6;
  border-radius: 2px;
  font-size: 16px;
  height: 48px;
  padding: 10px 30px 12px 10px;
  width: 100%;

}
