* {
  padding: 0;
  margin: 0;
  /* background-color: white; */
}

.step2 {
  background-color: white;
  height: 100%;
  height: 88rem;
}
.Step2Logo {
  width: 100%;
}

.Step2logoimg img {
  height: 48px;
  width: 225px;
  margin-top: 31px;
  padding-left: 70px;
}
.Step2button {
  margin-left: 900px;
  border: none;
  font-weight: 800;
  font-size: 23px;
  font-family: initial;
  position: absolute;
  margin-top: 35px;
  background-color: white;
}

.step2hr {
  color: rgb(99, 99, 99);
  height: 80px;
}

.Step22ndpart {
  width: 100%;
}

.Step22ndpart1 p {
  color: #333333;
  margin-left: 198px;
  margin-top: -21px;
}

.Step22ndpart1 h3 {
  color: #333333;
  margin-left: 196px;
  margin-top: -9px;
}

.Step2right img {
  height: 27px;
  width: 28px;
  margin-left: 203px;
  margin-top: 19px;
}

.Step2right p {
  color: #333333;
  margin-left: 251px;
  margin-top: -26px;
}

.Step2right1 img {
  height: 27px;
  width: 28px;
  margin-left: 203px;
  margin-top: 0px;
}

.Step2right1 p {
  color: #333333;
  margin-left: 251px;
  margin-top: -26px;
}

.Step2right2 img {
  height: 27px;
  width: 28px;
  margin-left: 203px;
  margin-top: 0px;
}

.Step2right2 p {
  color: #333333;
  margin-left: 251px;
  margin-top: -26px;
}

.Step2Rect {
  margin-left: 469px;
  display: flex;
}
.Step2recta {
  width: 113px;
  height: 100px;
  color: rgb(255, 255, 255);
  background-color: #ff8f8f;
  padding: 32px;
  margin-left: 40px;
  padding-top: 42px;
}

.Step2recta1 {
  width: 100px;
  height: 100px;
  color: rgb(255, 255, 255);
  background-color: #ff8f8f;
  padding: 18px;
  padding-top: 42px;
  margin-left: 100px;
}

.Step2recta2 {
  width: 100px;
  height: 100px;
  color: rgb(255, 255, 255);
  background-color: #ff8f8f;
  padding: 18px;
  padding-top: 42px;
  margin-left: 100px;
}

.Step2recta3 {
  width: 100px;
  height: 100px;
  color: rgb(255, 255, 255);
  background-color: #ff8f8f;
  padding: 18px;
  padding-top: 42px;
  margin-left: 100px;
}

.recat {
  display: flex;
  margin-top: 53px;
}

.Step2Rect :hover {
  background-color: rgb(255, 0, 0);
}

.Step2Price {
  width: 100%;
  display: flex;
}

.Step2price1 {
  display: flex;
}

.Step2price1 p {
  color: #333333;
  margin-left: 213px;
  margin-top: 14px;
}

.step2prices p {
  color: #333333;
  padding-left: 112px;
}

.step2prices {
  display: flex;
  position: absolute;
  margin-top: -39px;
  padding-left: 432px;
}

.Step2price2 span p {
  color: red;
}

.step22hr {
  height: 20px;
  width: 72%;
  color: #333333;
  margin-left: 199px;
  margin-top: -11px;
}

.Step2price2 span img {
  margin-left: 112px;
  height: 36px;
  margin-top: -11px;
  width: 39px;
}
.step22prices {
  display: flex;
  position: absolute;
  margin-top: -39px;
  padding-left: 432px;
}

.Step22price2 {
  margin-left: 120px;
  margin-top: 59px;
}

.Step22price2 span img {
  margin-left: 0px;
  height: 31px;
  margin-top: -11px;
  width: 30px;
}

.step2computer {
  display: flex;
  position: absolute;
  margin-top: -50px;
  padding-left: 657px;
}

.Step2computer1 {
  margin-left: 149px;
  margin-top: 70px;
}

.Step2computer1 span img {
  margin-left: -103px;
  height: 35px;
  margin-top: 48px;
  width: 33px;
}

.step21tv {
  display: flex;
  position: absolute;
  margin-top: 2px;
  padding-left: 657px;
}

.step21tv1 {
  margin-left: 149px;
  margin-top: 70px;
}

.step21tv1 span img {
  margin-left: -103px;
  height: 35px;
  margin-top: 48px;
  width: 33px;
}

.step2para {
  width: 100%;
}

.step2para1 {
}

.step2para1 p {
  color: #333333;
  margin-top: 196px;
  font-size: 12px;
  margin-left: 224px;
}

.step2para2 {
  color: #333333;
  margin-top: 16px;
  font-size: 12px;
  margin-left: 224px;
}

.step2button {
  width: 100%;
}

.step2button1 button {
  color: white;
  background-color: red;
  border: none;
  height: 49px;
  width: 331px;
  margin-left: 480px;
  margin-top: 39px;
}


.hederfooter2 {
  width: 100%;
  background-color: #cbcbcb;
  height: 245px;
  position: relative;
  margin-top: 133px;
}