.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  background-color: #282c34;
}
.container {
  width: 32%;
  margin-left: 27rem;
  height: 31rem;
  margin-top: 3rem;
}

.border1 {
  border: 1px solid red;
}

.container p {
  font-size: 23px;
  font-family: math;
  margin-left: 5rem;
  color: white;
  padding-top: 1rem;
}

.container input {
  height: 2.6rem;
  width: 16rem;
  margin-left: 5rem;

  padding-left: 16px;
}

.name {
}

.name label {
  margin-left: 5rem;
  color: chartreuse;
}

.fname {
}
.fname label {
  margin-left: 5rem;
  color: chartreuse;
}

.mname label {
  margin-left: 5rem;
  color: chartreuse;
}

.address label {
  margin-left: 5rem;
  color: chartreuse;
}
